@import 'keyframes.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}
.container{
    margin: auto;
}

.todo-container{
    overflow: hidden;
}

.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
    padding: 8px 0;
    transition: all 0.4s;
}
.todo > *{
    margin-right: 24px;
}

button > i{
    pointer-events : none;
}

.completed{
    transform: scale(0.980);
    opacity: 0.2;
    transition: all 0.4s ease-in-out;
    background-color: rgb(199, 199, 181);
    border-radius: 16px;
}

.trash-btn{
    transition: all 0.5s ease-in-out;
}

.fade-out-right {
	-webkit-animation: fade-out-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
